#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.navSVG {
    height: 2em;
    aspect-ratio: 1;
    transition: 400ms;
}

.navSVG:hover {
    scale: 1.1;
}

.navSVG > g > g {
    fill: var(--text_color);
}